.formcontainer{
    margin-top:150px;
    top:20%;
    margin:15%;
    display:flex;
    background-color:rgba(7, 134, 177, 0.8);
    border-radius: 20px 40px;
    border: 4px double black;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 20px;
}

.flexelement{
    height: 100px;
    width:250px;
    background-color: red;
    border:1px solid;
    margin-bottom: 10px;
}

.form_label{
    color:white;
    top:10px;
}


.country_filed{
    color:white;
    background-color:rgba(0, 0, 0, 0.5);
    width:100%;
    margin-top:10px;

}
