@font-face {
    font-family: 'Oswald'; /*a name to be used later*/
    src:  url('../../resources/fonts/font-oswald/oswald-regular.svg'); /*URL to font*/
}


.main{
    background: url('../../resources/images/back.jpg');
    background-size: cover;
    height: 700px;
}
.box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    padding:40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;

}
.box h2
{
    margin: 0 0 30px;
    padding: 0;
    color:white;
    text-align: center;
}

.box .inputBox
{
    position:relative;
}

.box .inputBox input
{
    width:100%;
    padding:10px 0;
    font-size: 16px;
    border:none;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
    background:transparent;
    color:white;
    letter-spacing: 1px;
}

.box .inputBox label
{
    letter-spacing: 1px;
    position: absolute;
    top:0;
    left:0;
    padding:10px 0;
    font-size: 16px;
    color:white;
    pointer-events: none;
    transition: .5s;
}

.box .inputBox .focus
{
    top:-23px;
    left:0;
    font-size:12px;
    color:aqua;
}

.box input[type="submit"]
{

    border:none;
    outline:none;
    color:white;
    background: #03a9f4;
    padding:10px 20px;
    cursor:pointer;
    border-radius: 5px;
    font-size: 14px;
}



.boxes {
    margin: auto;
    padding: 50px;
    background: #484848;
}

.switcher{
    position: relative;
    color:white;
    margin-left: 60%;
    bottom:20px;
}

.switcher:hover{
    text-decoration: underline;
    cursor:pointer;
}
.error{
    color:red !important;
}





